.main-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.main-about-us img {
    height: 200px;
}

.about-us {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us h1 {
    text-align: center;
    background-color: #F1592C;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.about-us .content-us {
    padding: 30px;
}

@media (max-width: 400px) {
    .about-us {
        width: 100%;
    }
}